<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo List</title>
</head>
<body>
<div id="add-form">
    <form name="add-todo" th:action="@{/todolist}" method="post">
        <span>Todo: </span>
        <input type="text" name="description" placeholder="description" />
        <input type="submit" value="add" />
    </form>
</div>
<div id="todo-list">
    <p th:if="${#lists.isEmpty(todoList)}">
        <em>Todo List is empty</em>
    </p>
    <ul th:unless="${#lists.isEmpty(todoList)}" th:each="todo : ${todoList}">
        <li th:text="${todo.description}"></li>
    </ul>
</div>
</body>
</html>